*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cart-display{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.cart-products{
    width: 250px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 5px;
}

.img img{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid grey;
}

.cart-content{
    margin: 10px;
    text-align: center;
}


.cart-btn{
    text-align: center;
}

.cart-btn button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 165, 76);
    font-weight: bold;
}

.cartitems{
    position: fixed;
}

.selected-items{
    width: 100%;
    height: 80px;
    border: 1px solid rgb(198, 194, 194);
    margin-bottom: 5px;
    display: flex;
}

.selected-image{
    margin-right: 10px;
}

.selected-items img{
    width: 60px;
    height: 60px;
}